@import "foundation/variable";
@import "layout/_mixin";
.c-pc {
  display: block !important;
  @media screen and (max-width: #{map-get($BREAKPOINTS, 'tablet')}) {
    display: none !important;
  }
}
.c-sp {
  display: none !important;
  @media screen and (max-width: #{map-get($BREAKPOINTS, 'tablet')}) {
    display: block !important;
  }
}

@mixin button-green {
  width: 340px;
  height: 56px;
  background: #19a78e;
  border-radius: 5px;
  font-weight: 700;
  font-size: 19px;
  line-height: 28px;
  text-align: center;
  color: #fcfbf9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  &:hover {
    opacity: 0.6;
  }
}

@mixin bar-title {
  width: 100%;
  height: 80px;
  border-left: 6px solid #19a78e;
  background: #f2fafd;
  display: flex;
  align-items: center;
  padding-left: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.08em;
  color: #2f2f2f;
  @media screen and (max-width: #{map-get($BREAKPOINTS, 'tablet')}) {
    border-left: 7px solid #19a78e;
    padding-left: 34px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.08em;
  }
}
@mixin service-number {
  width: 62px;
  height: 56px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  font-weight: 700;
  font-size: 42px;
  line-height: 51px;
  color: #fff;
  @media screen and (max-width: #{map-get($BREAKPOINTS, 'tablet')}) {
    width: 44px;
    height: 44px;
    font-size: 34px;
    line-height: 41px;
    grid-row: 1/2;
  }
}
