// @import "./../../../../assets/scss/import";
@import "./../../../public/scss/import";

.about {
    width: 80%;
    margin: 0 auto;
    &__title {
        font-size: 64px;
        font-weight: 700;
        text-align: center;
    }
    &__text {
        font-size: 24px;
    }
}
