// @import "./../../../../assets/scss/import";
@import "./../../../public/scss/import";
header {
  background-color: $primary-color;
  color: white;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
  li {
    display: inline;
    margin-right: 10px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}
