// @import "./../../../../assets/scss/import";
@import "./../../../public/scss/import";
header {
  background-color: $primary-color;
  color: white;
  padding: 10px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 32px;
  li {
    width: 100px;
    display: inline;
    text-decoration: none;
    transition: border-left 0.1s ease, color 0.3s ease, border-top 0.4s ease,
      border-right 0.9s ease, border-bottom 1.8s ease;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #000;
      border-left: 1px solid #fefefe;
      border-top: 1px solid #fefefe;
      border-right: 1px solid #fefefe;
      border-bottom: 1px solid #fefefe;
    }
  }
}
